* {
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
}

.header h1 {
  font-size: 36px;
}

.header p {
  font-size: 18px;
}

.header nav {
  display: flex;
  justify-content: flex-end;
}

.header nav ul {
  list-style: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.content h2 {
  font-size: 24px;
}

.content ul {
  list-style: none;
}

.content ul li {
  margin-bottom: 10px;
}

.content form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content form {
  padding: 20px;
  background-color: white;
}
#register-button,
#login-button,
#search-button {
  background-color: #ff9900;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#register-button:hover,
#login-button:hover,
#search-button:hover {
  background-color: #e68a00;
}

#register-button,
#login-button {
  margin: 10px;
}

button {
  margin: 10px;
}

.content form input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #333;
}

.content form input:focus {
  outline: none;
  border-bottom-color: #ff9900;
}

.content form button {
  float: right;
}
body {
  overflow: hidden;
}
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
}

.footer {
  bottom: 0;
}

.footer {
  width: 100%;
}

.content {
  margin-bottom: 40px;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  animation-name: slide-up-animation;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes slide-up-animation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

button {
  background-color: #ff9900;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e68a00;
}

#search-form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-form {
  padding: 20px;
  background-color: white;
}

#search-form input,
#search-form select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #333;
}

#search-form input:focus,
#search-form select:focus {
  outline: none;
  border-bottom-color: #ff9900;
}

#search-form label {
  font-weight: bold;
}

#search-form label {
  margin-bottom: 5px;
}
